//Prepare css for width 400 and less. Rest width is ok

$color: #fff;
$family: Montserrat, sans-serif;
$navcolor: #151515;


body {
	background-color: #000;
}

%navbar {
	font-size: 18px;
	font-family: $family;
	font-weight: bold;
	color: $color;
}

#HomeTitle {
	padding-top: 3%;
	font-family: $family;
	font-weight: bold;
	color: $color;
	text-align: center;
	p {
		padding-top: 2%;
		color: #7e7e7e;
	}
}

p, li {
	@extend %navbar;
}

ul {
	position: fixed;
	height: 100%;
	width: 8%;
	left: 0px;
	background-color: $navcolor;
	overflow-x: hidden;
	li {
		padding-top: 1%; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 13%;
		border: none;
		border-color: $navcolor;
	}
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	width: 13.5%;
	background-color: #fff;
	margin-left: 0px;
}

#AboutMe {
	margin-top: 10%;
	font-family: $family;
	font-weight: bold;
	color: $color;
	text-align: justify;
	p {
		padding: 1.5%;
		background-color: $navcolor;
		color: #7e7e7e;
	}
}

#SkillsHeader {
	padding-bottom: 0.5%;
}

#Skills, #Clients {
	padding-top: 3.5%;
	font-family: $family;
	font-weight: bold;
	color: $color;
	h4 {
	font-family: $family;
	font-weight: bold;
	color: $color;
	padding-top: 1%;
	padding-bottom: 1%;
	}
}

#Clients {
	text-align: center;
	padding-bottom: 2.5%;
}

#first, #second {
	text-align: center;
	color: #7e7e7e;
	font-size: 48px;
	background-color: $navcolor;
	padding: 0.5%;
	width: 98%;
	margin-left: 0.5%;
}

#Projects {
	@extend %navbar;
	margin-top: 10%;
}

#catchall1, #catchall2 {
	img {
		padding-bottom: 5%;
		padding-top: 5%;
	}
	p {
		background-color: $navcolor;
		text-align: justify;
	}
}

li:hover {
	background-color: #7e7e7e;
	cursor: pointer;
}

footer {
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: relative;
	@extend %navbar
}

i {
	padding: 0.5%;
}