//Prepare css for width 400 and less. Rest width is ok

$color: #fff;
$family: Montserrat, sans-serif;
$navcolor: #151515;
$margin: 15%;
$font: 18px;

body {
	background-color: #000;
}

// Style of the majority of text
%navbar {
	font-family: $family;
	font-weight: bold;
	color: $color;
}

// Page title
#HomeTitle {
	padding-top: 3%;
	@extend %navbar;
	text-align: center;
	p {
		padding-top: 2%;
		color: #7e7e7e;
	}
}

// Text styling for general li and p elements
p, li {
	@extend %navbar;
	font-size: $font;
}

//Navbar style

ul {
	position: fixed;
	height: 100%;
	width: 15%;
	left: 0px;
	background-color: $navcolor;
	overflow-x: hidden;
	li {
		padding-top: 1%; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 13%;
		border: none;
		border-color: $navcolor;
	}
}

// Different bg color on hover for the navbar
li:hover {
	background-color: #7e7e7e;
	cursor: pointer;
}

// Main photo style
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

//About me section
#AboutMe {
	font-family: $family;
	font-weight: bold;
	color: $color;
	text-align: justify;
	p {
		padding: 1.5%;
		background-color: $navcolor;
		color: #7e7e7e;
	}
}

h3 {
	margin-top: $margin;
	padding-bottom: 0.5%;
}

// Skills and Clients part of About me sections
#Skills, #Clients {
	padding-top: 3.5%;
	@extend %navbar;
}

#Clients {
	text-align: center;
	padding-bottom: 2.5%;
}

//My skills part
#first, #second {
	text-align: center;
	color: #7e7e7e;
	font-size: 48px;
	background-color: $navcolor;
	padding: 0.5%;
	width: 98%;
	margin-left: 0.5%;
}

//Button for downloading a resume
.btn-dark {
	margin-left: 0.5%;
}

// General text style for Projects, Hobby and Contact sections
#Projects, #Hobby, #Contact {
	@extend %navbar;
	margin-top: $margin;
}

//Image and p styles for Projects
#catchall1, #catchall2 {
	img {
		padding-bottom: 5%;
		padding-top: 5%;
	}
	p {
		background-color: $navcolor;
		text-align: justify;
	}
}

//Margin for better display of the Contact section
#Contact {
	margin-bottom: 10%;
}

//Style for footer
footer {
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: relative;
	@extend %navbar
}

i {
	padding: 0.5%;
}
